/**
 * Azul del logo: 
 * #6683b8
 * rgb(102,131,184)
 *
 * Fondo del logo:
 * #fefefe
 * rgb(254,254,254)
 *
 */
body {
	background: #fefefe;
	margin: 10% 20%;
	color: #666666;
	font-family: Roboto,Tahoma,Verdana,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #6683b8;	
}

.box img {
	float: right;
}